@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,900&display=swap");

/* Variables */
:root {
  --clr-primary-dark: rgba(25, 30, 35, 1);
  --clr-primary-mid: rgba(25, 30, 35, 0.75);
  --clr-primary-light: rgba(25, 30, 35, 0.5);
  --clr-secondary: rgba(222, 160, 30, 1);
  --clr-white: rgba(255, 255, 255, 1);
  --clr-background-light-low: rgba(255, 255, 255, 0.7);
  --clr-background-light-high: rgba(255, 255, 255, 0.9);
  --clr-input-dark: rgba(255, 255, 255, 0.025);
  --clr-input-light: rgba(255, 255, 255, 0.4);
  --menu-speed: 0.75s;
  --link: color 0.4s ease;

  --border-radius-small: 3px;
}

/* Base reset and globals */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 65.625em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 192em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--clr-white);
}

button,
input,
select,
textarea {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.15;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.1;
}

@media only screen and (max-width: 50em) {
  h1 {
    font-size: 5rem;
    text-align: center;
  }
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  line-height: 1.1;
}

h4 {
  font-size: 2.5rem;
  line-height: 1.1;
}

p {
  font-size: 2rem;
  line-height: 1.4;
}

/* buttons */

.btn {
  // display: inline-block;
  background-color: transparent;
  color: var(--clr-secondary);
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--clr-secondary);
  border-radius: var(--border-radius-small);
  transition: all 250ms ease;
  font-weight: 700;
  font-size: 3rem;

  @media only screen and (max-width: 50em) {
    width: 28.5rem;
    height: 3.75rem;
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--clr-primary-dark);
    background-color: var(--clr-secondary);
  }

  &:active {
    transform: scale(0.95);
  }

  &--big {
    width: 36rem;
    height: 5rem;

    &__header {
      margin-top: 5rem;
      text-decoration: none;
    }

    &__footer {
      margin-bottom: 2rem;
    }
  }
}

.link-anim {
  color: var(--clr-white);
  background-color: transparent;
  display: inline-block;
  font-size: 1.8rem;
  white-space: nowrap;
  opacity: 1;
  transition: all 250ms ease;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    background-color: var(--clr-white);
    transition: transform 0.3s;
  }

  &:hover::after,
  &:active::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

/* pagination V1 */
.pagination {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36rem;
  margin: 5rem;

  &-button {
    background-color: rgba(251, 251, 251, 0.9);
    padding: 0 0.6rem;
    margin: 0 0.6rem;
    height: 3.2rem;
    min-width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--clr-primary-dark);
    border-radius: var(--border-radius-small);
    box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.25s ease, transform 0.25s ease;
    @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(245, 245, 245, 0.6);
    }

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.05);
      background-color: var(--clr-primary-mid);
      color: var(--clr-white);
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &__previous-button {
    min-width: 6.6rem;
  }

  &__first-page {
  }

  &__previous-page,
  &__next-page {
    min-width: 3.4rem;
    min-height: 3.4rem;
  }

  &__current-page {
    // background-color: rgba(255, 255, 255, 0.9);
    background-color: var(--clr-primary-light);
    color: var(--clr-white);
    min-width: 3.6rem;
    min-height: 3.6rem;
    font-size: 2rem;

    @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      // background-color: rgba(252, 252, 252, 0.9);
      background-color: var(--clr-primary-light);
    }
  }

  &__last-page {
  }

  &__next-button {
    min-width: 6.6rem;
  }
}

.input__email {
  height: 5rem;
  width: 36rem;
  background-color: transparent;
  padding-left: 1rem;
  border-radius: var(--border-radius-small);

  &::placeholder {
    font-size: inherit;
  }
}

.input__textarea {
  width: 36rem;
  height: 15rem;
  background-color: transparent;
  padding: 1rem;
  border-radius: var(--border-radius-small);

  &::placeholder {
    font-size: inherit;
  }
}

/* social icons sticky to left bottom */
.social-icons {
  position: fixed;
  top: 70%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-white);
  border-radius: var(--border-radius-small) 0px 0px var(--border-radius-small);
  border: 1px solid var(--clr-primary-dark);
  border-right: none;
  width: 6rem;
  z-index: 2;
}

@media only screen and (max-width: 50em) {
  .social-icons {
    display: none;
  }
}

.social-link {
  list-style: none;
}

.social-icons__icon {
  width: 3.5rem;
  margin: 1rem;
  transition: transform 250ms ease-in-out;
}
.social-icons__icon path {
  fill: var(--clr-primary-dark);
}

.social-icons__icon:hover,
.social-icons__icon:focus,
.social-icons__icon:active {
  transform: scale(1.2);
}

/* site container */
.container {
  display: flex;
  flex-direction: column;
}

/* nav bar sticky */
.nav {
  --text: #fff;
  --text-inverse: #101d2c;
  --background: rgba(16, 29, 44, 0.3);
  --background-intense: rgba(25, 30, 35, 0.97);
  --placeholder: rgba(255, 255, 255, 0.6);

  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  min-height: 8rem;
  width: 100%;
  padding-right: clamp(0.1rem, 2.5vw, 20rem);
  padding-left: clamp(0.1rem, 2.5vw, 20rem);
  align-items: center;
  justify-content: space-between;
  color: var(--text);
  background: var(--background-intense);
  transition: background 250ms ease-in;
  z-index: 2;

  @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: var(--background);
  }
}

@media only screen and (max-width: 75em) {
  .nav {
    justify-content: flex-end;
  }
}

/* mobile menu hamburger */
.nav__mobile-menu--wrap {
  --text: #fff;
  --text-inverse: #101d2c;
  --background: rgba(16, 29, 44, 0.3);
  --background-intense: rgba(16, 29, 44, 0.9);

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 8rem;
  width: 8rem;
}

@media only screen and (max-width: 75em) {
  .nav__mobile-menu--wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav__mobile-menu--wrap .toggler {
  margin-right: clamp(0.1rem, 2.5vw, 20rem);
  margin-left: clamp(0.1rem, 2.5vw, 20rem);
  position: absolute;
  display: flex;
  width: 8rem;
  height: 8rem;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;

  opacity: 0;
}

.nav__mobile-menu--wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: clamp(0.1rem, 2.5vw, 20rem);
  margin-left: clamp(0.1rem, 2.5vw, 20rem);

  z-index: 2;
  display: flex;
  width: 8rem;
  height: 8rem;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hamburger line*/
.nav__mobile-menu--wrap .hamburger > div {
  position: relative;
  width: 3rem;
  height: 1px;
  background-color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 75em) {
  .nav__mobile-menu--wrap .hamburger > div {
    width: 5rem;
  }
}
@media only screen and (max-width: 50em) {
  .nav__mobile-menu--wrap .hamburger > div {
    width: 3rem;
  }
}

.nav__mobile-menu--wrap .hamburger > div:before,
.nav__mobile-menu--wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: -5px;
  width: 100%;
  height: 1px;
  background-color: inherit;
}

.nav__mobile-menu--wrap .hamburger > div:after {
  top: 5px;
}

/* Toggler animate */
.nav__mobile-menu--wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turn lines in to X */
.nav__mobile-menu--wrap .toggler:checked + .hamburger > div:before,
.nav__mobile-menu--wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked */
.nav__mobile-menu--wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* show menu */
.nav__mobile-menu--wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.nav__mobile-menu--wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.nav__mobile-menu--wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.nav__mobile-menu--wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__mobile-menu--wrap .menu > div {
  color: var(--text);
  background: var(--background-intense);
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

@supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
  .nav__mobile-menu--wrap .menu > div {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: var(--background);
  }
}

.nav__mobile-menu--wrap .menu > div > div {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.nav__mobile-menu--wrap .menu > div > div > ul > li {
  list-style: none;
  color: var(--text);
  font-size: 4rem;
  padding: 1rem;
  font-weight: 700;
}

@media only screen and (max-width: 50em) {
  .nav__mobile-menu--wrap .menu > div > div > ul > li {
    font-size: 3rem;
  }
}

.nav__mobile-menu--wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: var(--link);
}

.nav__mobile-menu--wrap .menu > div > div > ul > li > a:hover {
  color: var(--clr-secondary);
}

/* desktop navigation sticky */
.nav__link-container {
  display: flex;
  width: 44rem;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 5vw, 10rem);
}

@media only screen and (max-width: 75em) {
  .nav__link-container {
    display: none;
  }
}

.nav__list {
  list-style: none;
}

.nav__link {
  color: inherit;
  background: inherit;
  display: inline-block;
  font-size: 2rem;
  white-space: nowrap;
  opacity: 1;
  transition: all 250ms ease;
  text-decoration: none;
  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  background-color: var(--text);
  transition: transform 0.3s;
}

.nav__link:hover::after,
.nav__link:active::after,
.nav__link:focus::after {
  transform: scaleX(1);
}

.nav__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text);
}

@media only screen and (max-width: 75em) {
  .nav__logo {
    display: none;
  }
}

.nav__logo--mobile {
  display: none;
}

@media only screen and (max-width: 75em) {
  .nav__logo--mobile {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
  }
}

.nav__logo--img {
  width: 8.4rem;
}

@media only screen and (max-width: 75em) {
  .nav__logo--img {
    width: 12rem;
  }
}

.nav__logo--text {
  margin-right: 1rem;
}

@media only screen and (max-width: 75em) {
  .nav__logo--text {
    font-size: 8rem;
  }
}

.nav__search-form {
  position: relative;
}

.nav__search-form input[type="submit"] {
  display: none;
}
.nav__search-form--input {
  background: transparent;
  color: var(--text);
  width: 32rem;
  height: 5rem;

  border: none;
  padding-left: 2rem;
  position: relative;
  transition: all 250ms ease;
}

.nav__search-form--input::placeholder {
  font-size: inherit;
  color: var(--placeholder);
}

.nav__search-form::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  background-color: var(--text);
  z-index: 3;

  transition: transform 0.3s;
}

.nav__search-form:hover::after,
.nav__search-form:active::after,
.nav__search-form:focus::after,
.nav__search-form:focus-within::after {
  transform: scaleX(1);
}

.search-icon {
  fill: var(--text);
  width: 30x;
  height: 30px;
  position: absolute;
  right: 1rem;
  top: 0.9rem;
  cursor: pointer;
}

.active-link::after {
  transform: scaleX(1);
}

/* nav color switcher when we go out from header section */
.switch-color {
  --text: #101d2c;
  --text-inverse: #fff;
  --background: rgba(255, 255, 255, 0.7);
  --background-intense: rgba(255, 255, 255, 0.97);
  --placeholder: rgba(16, 29, 44, 0.6);
}

/* header section */
.header {
  background: url(../img/png/dark_keyboard-2/dark-keyboard-2-mid.jpg);
  display: flex;
  height: 85rem;
  background-size: cover;
  justify-content: space-between;

  @media only screen and (max-width: 100em) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    height: 100%;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: clamp(0.5rem, 6vw, 10rem);
    margin-right: clamp(0.5rem, 2vw, 10rem);

    @media only screen and (max-width: 100em) {
      margin-top: 20rem;
      margin-right: clamp(0.5rem, 6vw, 10rem);
    }

    @media only screen and (max-width: 75em) {
      align-items: center;
    }

    @media only screen and (max-width: 50em) {
      align-items: center;
    }
  }

  &__title {
    line-height: 1;
    @media only screen and (max-width: 75em) {
      font-size: 3rem;
    }
  }

  &__subtitle {
    white-space: nowrap;
    @media only screen and (max-width: 75em) {
      margin-top: 1rem;
    }
  }
}

/* latest news section */
.news {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
  margin-left: clamp(0.5rem, 2vw, 10rem);
  margin-right: clamp(0.5rem, 6vw, 10rem);

  @media only screen and (max-width: 100em) {
    flex-direction: row;
    width: 100%;
    margin-top: 0;
    justify-content: space-evenly;
    margin-left: clamp(0.5rem, 5vw, 30rem);
    margin-right: clamp(0.5rem, 5vw, 30rem);
    margin-bottom: 10rem;
  }

  @media only screen and (max-width: 50em) {
    flex-direction: column;
    gap: 3rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40rem;
    min-height: 32rem;
    padding: 2rem;
    border-radius: var(--border-radius-small);
    background: var(--clr-primary-light);
    margin-bottom: 3rem;
    box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.01);
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);

    @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background: rgba(16, 29, 44, 0.3);
    }
  }
}

.section-title {
  align-self: center;
  border-bottom: 1px solid var(--clr-primary-light);
}

.post-title {
  margin: 2rem 1rem 0.5rem 1rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-text {
  padding: 0 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news__summary {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  overflow: hidden;
}
.news__date {
  font-size: 1.8rem;
  color: var(--clr-white);
}

/* main section where other pages are showing*/
.main {
  min-height: 80vh;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  background: url(../img/png/papers/papers-low.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: 50em) {
    gap: 0.25;
  }

  &:first-child {
    padding-top: 5rem;

    @media only screen and (max-width: 50em) {
      padding-top: 2rem;
    }
  }

  &:last-child {
    padding-bottom: 5rem;

    @media only screen and (max-width: 50em) {
      padding-bottom: 2rem;
    }
  }

  .first-post {
    height: clamp(38rem, 50rem, 70rem);
    width: clamp(36rem, 80vw, 136.6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    min-height: 20rem;
    // padding: 3rem;
    color: var(--clr-white);
    box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @media only screen and (max-width: 50em) {
      width: clamp(36rem, 90vw, 136.6rem);
    }

    &:hover img {
      transform: scale(1.1);
    }

    &__wrapper {
      position: relative;
      width: 100%;
      height: 50rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      z-index: 1;
    }

    &__category-container {
      z-index: 1;
      align-self: flex-start;
      justify-self: flex-start;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 100%;
      margin-top: 1rem;

      @media only screen and (max-width: 50em) {
        padding-left: 3rem;
        padding-top: 3rem;
      }

      .category {
        text-align: center;
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--clr-secondary);
        transform: rotate(270deg);
        padding: 0.5rem;
        letter-spacing: 0.25ch;
        line-height: 1;
      }
    }

    &__body {
      padding: 0 3rem 0 1rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      z-index: inherit;
      justify-content: center;
      width: -moz-fit-content;
      width: fit-content;
      margin-top: 5rem;

      @media only screen and (max-width: 50em) {
        padding-left: 2rem;
      }
    }

    &__tags {
      display: flex;
      gap: 0.5rem;
      flex-flow: wrap;
      position: absolute;
      top: 0;
      left: 0;
      margin: 3rem;
      z-index: 2;

      .tag {
        position: relative;
        justify-content: center;
        font-size: 1.4rem;
        border-radius: var(--border-radius-small);
        border: 1px solid var(--clr-white);
        background-color: transparent;
        color: var(--clr-white);
        padding: 0 1rem;
        white-space: nowrap;
        text-decoration: none;
        transition: all 0.25s ease;

        &:hover,
        &:focus {
          color: var(--clr-secondary);
          border: 1px solid var(--clr-secondary);
        }
      }
    }

    &__date {
      color: inherit;
      z-index: inherit;
      font-size: 1.8rem;
      justify-self: end;
    }

    &__title {
      width: 35ch;
      color: inherit;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 1;

      @media only screen and (max-width: 75em) {
        width: min(25ch);
        -webkit-line-clamp: 3;
      }

      @media only screen and (max-width: 50em) {
        width: auto;
        font-size: 3rem;
      }
    }

    &__author {
      font-size: 1.8rem;
      color: inherit;
      align-self: flex-end;
    }

    &__button {
      z-index: inherit;
      text-align: center;
      text-decoration: none;
      justify-self: flex-end;
      align-self: flex-end;
      margin: 3rem;

      @media only screen and (max-width: 50em) {
        align-self: center;
      }
    }

    &__picture {
      position: absolute;
      display: block;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: no-repeat cover center;
      background-color: var(--clr-background-light-high);
      filter: grayscale(20%) blur(1px) opacity(99%) brightness(50%);
      object-fit: cover;
      transition: transform 1s ease;

      @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(16, 29, 44, 0.3);
        filter: grayscale(20%) blur(1px) opacity(90%) brightness(50%);
      }
    }
  }

  .post-list {
    display: flex;
    width: clamp(36rem, 80vw, 136.6rem);
    height: 22rem;
    border-radius: var(--border-radius-small);
    background-color: rgba(245, 245, 245, 0.98);
    color: var(--clr-primary-dark);
    box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: filter 0.25s ease-in-out;

    @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.6);
    }

    &:hover img {
      transform: scale(1.1);
    }

    &:hover {
      filter: brightness(97%);
    }

    @media only screen and (max-width: 50em) {
      flex-direction: column;
      height: 50rem;
      width: clamp(36rem, 90vw, 136.6rem);
    }

    &__img-container {
      overflow: hidden;
      width: 44rem;
      height: 100%;

      @media only screen and (max-width: 50em) {
        width: 100%;
        height: 25rem;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      filter: grayscale(70%);
      transition: transform 1s ease;

      @media only screen and (max-width: 50em) {
        width: 100%;
        height: 100%;
      }
    }
    &__category-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 100%;
      @media only screen and (max-width: 50em) {
        width: 100%;
        height: 3rem;
        align-items: flex-start;
        background-color: #eee;
      }
    }

    &__category {
      text-align: center;
      white-space: nowrap;
      font-size: 1.6rem;
      font-weight: 700;
      color: var(--clr-secondary);
      transform: rotate(270deg);
      padding: 0.5rem;
      letter-spacing: 0.25ch;
      line-height: 1;
      @media only screen and (max-width: 50em) {
        transform: rotate(0deg);
        padding: 1rem;
        letter-spacing: 0.5ch;
      }
    }

    &__body {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 3rem;
      justify-content: center;

      @media only screen and (max-width: 50em) {
        height: 25rem;
      }
    }

    &__date {
      color: inherit;
      font-size: 1.8rem;
      align-self: flex-start;
    }

    &__content {
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: 50em) {
        flex-direction: column;
      }
    }

    &__left-side {
      display: flex;
      flex-direction: column;
      width: fit-content;
      width: -moz-fit-content;
      margin-right: 5rem;
    }

    &__title {
      position: relative;
      line-height: 1;
      max-width: 40ch;
      color: inherit;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @media only screen and (max-width: 50em) {
        max-width: max-content;
      }
    }

    &__author {
      color: inherit;
      font-size: 1.8rem;
      align-self: flex-end;
    }

    &__right-side {
      text-decoration: none;
      justify-self: flex-end;
      align-self: flex-end;
      color: var(--clr-primary-dark);
      cursor: pointer;

      @media only screen and (max-width: 50em) {
        margin-top: 2rem;
      }

      &::after {
        background-color: var(--clr-primary-dark);
      }
    }

    &__tags {
      display: flex;
      gap: 0.5rem;
      flex-flow: wrap-reverse;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 1rem 3rem;
      width: calc(100% - 16rem);

      .tag {
        position: relative;
        justify-content: center;
        font-size: 1.4rem;
        border-radius: var(--border-radius-small);
        border: 1px solid var(--clr-primary-light);
        background-color: transparent;
        color: var(--clr-primary-mid);
        padding: 0 1rem;
        white-space: nowrap;
        text-decoration: none;
        transition: all 0.25s ease;

        &:hover,
        &:focus {
          color: var(--clr-secondary);
          border: 1px solid var(--clr-secondary);
        }
      }
    }
  }
}

/* post details */

.articleDetails {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  background: url(../img/png/papers/papers-low.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: 50em) {
    padding: 2rem 0;
  }

  .article {
    width: clamp(36rem, 80vw, 136.6rem);
    // min-height: 80vh;
    border-radius: var(--border-radius-small);
    // overflow: hidden;
    box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;

    &:hover img {
      transform: scale(1.1);
    }

    @media only screen and (max-width: 50em) {
      width: clamp(36rem, 90vw, 136.6rem);
    }

    &__header {
      position: relative;
      width: 100%;
      height: 50rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      z-index: 0;
    }

    &__tags {
      display: flex;
      gap: 0.5rem;
      flex-flow: wrap;
      position: absolute;
      top: 0;
      left: 0;
      margin: 3rem;
      z-index: 2;

      .tag {
        position: relative;
        justify-content: center;
        font-size: 1.4rem;
        border-radius: var(--border-radius-small);
        border: 1px solid var(--clr-white);
        background-color: transparent;
        color: var(--clr-white);
        padding: 0 1rem;
        white-space: nowrap;
        text-decoration: none;
        transition: all 0.25s ease;

        &:hover,
        &:focus {
          color: var(--clr-secondary);
          border: 1px solid var(--clr-secondary);
        }
      }
    }

    &__category-container {
      z-index: 1;
      align-self: flex-start;
      justify-self: flex-start;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 100%;
      padding-left: 5rem;
      @media only screen and (max-width: 50em) {
        padding-left: 3rem;
        padding-top: 2rem;
      }

      .category {
        text-align: center;
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--clr-secondary);
        transform: rotate(270deg);
        padding: 0.5rem;
        letter-spacing: 0.25ch;
        line-height: 1;
      }
    }

    &__title-container {
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem;
      color: var(--clr-white);

      @media only screen and (max-width: 75em) {
        padding: 3rem 3rem 3rem 2rem;
      }

      @media only screen and (max-width: 50em) {
        padding: 5rem 3rem 3rem 1rem;
      }
    }

    &__date {
      font-size: 1.8rem;
      align-self: flex-start;
    }

    &__title {
      line-height: 1;
      max-width: 42ch;

      @media only screen and (max-width: 100em) {
        max-width: 35ch;
      }
      @media only screen and (max-width: 50em) {
        font-size: 3rem;
      }
    }

    &__author {
      font-size: 1.8rem;
      color: inherit;
      align-self: flex-end;
    }

    &__button {
      z-index: 1;
      text-align: center;
      text-decoration: none;
      justify-self: flex-end;
      align-self: flex-end;

      @media only screen and (max-width: 50em) {
        align-self: center;
      }
    }

    &__picture {
      display: block;
      top: 0;
      left: 0;
      z-index: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: no-repeat cover center;
      background-color: var(--clr-background-light-high);
      filter: grayscale(20%) blur(1px) opacity(99%) brightness(50%);
      transition: transform 1s ease;

      @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(16, 29, 44, 0.3);
        filter: grayscale(20%) blur(1px) opacity(90%) brightness(50%);
      }
    }

    &__body {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 5rem;
      color: var(--clr-primary-dark);
      background-color: rgba(245, 245, 245, 0.98);

      @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.7);
      }
    }

    &__content {
      max-width: 75ch;
    }

    &__author {
      font-size: 2rem;
      align-self: flex-end;
    }

    &__comments {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--clr-primary-dark);
      background-color: rgba(245, 245, 245, 0.98);

      @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.7);
      }
    }

    &__comments-header {
      display: flex;
      flex-direction: column;
      .form-inputs {
        width: 72rem;
        display: flex;
        flex-direction: column;
        color: var(--clr-primary-dark);

        @media only screen and (max-width: 50em) {
          width: 36rem;
        }

        &__wrapper {
          display: flex;
          gap: 1rem;
          margin-top: 2rem;

          @media only screen and (max-width: 50em) {
            flex-direction: column;
          }
        }

        .textarea-comments {
          border: 1px solid var(--clr-primary-dark);
          width: 100%;
          margin: 1rem 0;
          color: var(--clr-primary-dark);
          transition: all 0.25s ease;

          &:hover,
          &:focus {
            background-color: var(--clr-input-light);
            border: 1px solid var(--clr-secondary);
          }
        }

        .input-comments {
          border: 1px solid var(--clr-primary-dark);
          width: 100%;
          color: var(--clr-primary-dark);
          transition: all 0.25s ease;

          &:hover,
          &:focus {
            background-color: var(--clr-input-light);
            border: 1px solid var(--clr-secondary);
          }
        }

        .btn-comments {
          &:hover,
          &:focus,
          &:active {
            color: white;
          }
        }
      }
    }
    &__comments-body {
      display: flex;
      flex-direction: column;
      max-width: 72rem;
      align-items: center;
      margin-top: 2rem;

      @media only screen and (max-width: 50em) {
        max-width: 100%;
        padding: 0 2rem;
      }

      .comment {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        margin: 1rem 0;

        &:not(:last-child) {
          border-bottom: 1px solid var(--clr-primary-light);
        }
        &__wrapper {
          display: flex;
          justify-content: space-between;

          @media only screen and (max-width: 50em) {
            margin-bottom: 1rem;
          }

          &__author {
            font-size: 1.8rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-width: 30ch;
            color: var(--clr-primary-dark);
            font-weight: 700;
          }

          &__date {
            font-size: 1.8rem;
            color: var(--clr-primary-light);
          }
        }

        &__text {
          width: calc(100% - 10rem);
        }
      }
    }
  }
}

/* resources */
.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/png/papers/papers-low.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
  gap: 5rem;

  &__categories {
    width: clamp(36rem, 80vw, 136.6rem);
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    grid-template-rows: repeat(auto-fill, max(5rem));
    grid-auto-flow: dense;
    gap: 1rem;
    justify-content: center;
    align-content: center;

    @media only screen and (max-width: 50em) {
      width: clamp(36rem, 90vw, 136.6rem);
    }
  }

  &__category {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-size: 2rem;
    padding: 0 1rem;
    text-decoration: none;
    color: var(--clr-primary-dark);
    border-radius: var(--border-radius-small);
    background-color: rgba(245, 245, 245, 0.97);
    // background-color: transparent;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    white-space: nowrap;

    @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.7);
    }

    .first-category {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: var(--clr-primary-mid);
      color: white;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__grid {
    width: clamp(36rem, 80vw, 136.6rem);
    min-height: 20vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
    grid-auto-flow: dense;
    gap: 5rem;
    justify-content: center;

    @media only screen and (max-width: 75em) {
      gap: 3.5rem;
    }

    @media only screen and (max-width: 50em) {
      width: clamp(36rem, 90vw, 136.6rem);
      gap: 2rem;
    }

    .resource {
      width: auto;
      height: 52rem;
      position: relative;
      cursor: pointer;

      &:hover .resource__flip-box-back {
        transform: perspective(60rem) rotateY(0deg);
      }
      &:hover .resource__flip-box-front {
        transform: perspective(60rem) rotateY(-180deg);
      }

      &__flip-box-front {
        background-color: rgba(245, 245, 245, 0.97);
        border-radius: var(--border-radius-small);
        box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          background-color: rgba(255, 255, 255, 0.7);
        }

        width: 100%;
        height: 100%;
        position: relative;
        transition: all 0.5s ease-in-out;
        backface-visibility: hidden;
        transform: perspective(60rem) rotateY(0deg);
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      &__flip-box-back {
        background-color: rgba(245, 245, 245, 0.97);
        border-radius: var(--border-radius-small);
        box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          background-color: rgba(255, 255, 255, 0.7);
        }

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 3rem;
        transition: all 0.5s ease-in-out;
        backface-visibility: hidden;
        transform: perspective(60rem) rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
      }

      &__publish-date {
        color: var(--clr-primary-dark);
        font-size: 1.8rem;
        justify-self: flex-start;
      }

      &__title {
        color: var(--clr-primary-dark);
        margin-top: auto;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      &__body {
        color: var(--clr-primary-dark);
        margin-bottom: auto;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      &__links {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
          // border-bottom: 1px solid rgba(205, 205, 205, 0.5);
        }
      }

      &__link-description {
        color: var(--clr-primary-dark);
        font-size: 2rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0.5rem 0;
      }

      &__link {
        text-decoration: none;
        cursor: pointer;
        color: var(--clr-primary-dark);
        align-self: flex-end;

        &::after {
          background-color: var(--clr-primary-dark);
        }
      }
    }
  }
  .pagination {
    margin-top: 0;
  }
}

.category-active-link {
  background-color: var(--clr-primary-mid);
  color: white;
}

.search-result {
}

.about {
  min-height: 80vh;
}

/* footer and contact form*/
.footer {
  padding: 2rem 0;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(
      109.84deg,
      rgba(16, 29, 44, 0.75) 100%,
      rgba(60, 72, 90, 0.75) 100%
    ),
    url(../img/png/dark_keyboard-2/dark-keyboard-2-mid.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: saturation;

  &__copyright {
    align-self: center;
    letter-spacing: 0.5rem;
    font-size: 1.8rem;
    z-index: 2;

    @media only screen and (max-width: 100em) {
      margin: 3rem 0;
    }
  }

  &__form {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary-dark);
    padding: 3rem;
    border-radius: var(--border-radius-small);
    box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.01);
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
    margin-left: clamp(0.5rem, 5vw, 10rem);
    margin-right: clamp(0.5rem, 5vw, 10rem);

    @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: var(--clr-primary-light);
    }

    @media only screen and (max-width: 50em) {
      align-self: center;
    }

    &--title {
      text-align: center;
      line-height: 1;
      margin-bottom: 1rem;
      border: none;
    }

    .footer-email {
      margin-bottom: 1rem;
      color: var(--clr-white);
      border: 1px solid var(--clr-white);
      transition: all 0.25s ease;

      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, 0.025);
        border: 1px solid var(--clr-secondary);
      }
    }
    .footer-textarea {
      border: 1px solid var(--clr-white);
      margin-bottom: 1rem;
      color: var(--clr-white);
      transition: all 0.25s ease;

      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, 0.025);
        border: 1px solid var(--clr-secondary);
      }
    }
  }
}
