<section class="blog" id="blog"> 

  <div class="first-post">
       <div class="first-post__wrapper">
          <div class="first-post__category-container">
              <div class="category">Machine Learning</div>
          </div>
           
           <div class="first-post__body">
               <div class="first-post__tags">
                   <a href="#" class="tag">Tag1</a>
                   <a href="#" class="tag">Linux</a>
                   <a href="#" class="tag">Machine Learning</a>
                   <a href="#" class="tag">Fun Stuff</a>
                   <a href="#" class="tag">Funier Stuff</a>
               </div>
               <div class="first-post__date">17.09.2022</div>
               <h2 class="first-post__title">The greatest community site of the world Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, eius.</h2>
               <div class="first-post__author">Master of Disaster</div>
           </div>
       </div>
      <a href="#" class="first-post__button btn btn--big">Read more...</a>
      <img class="first-post__picture "src="./img/png/laptop-on-table.jpg" alt="Post image">
  </div>

<!-- ta część jest zmienna. lista kolejnych stron z artykułami -->
  <div class="post-list">
      <div class="post-list__img-container">
          <img class="post-list__img" src="./img/png/laptop-on-table.jpg  " alt="Post image">
      </div>
      <div class="post-list__category-container">
          <div class="post-list__category">Machine Learning</div>
      </div>
      <div class="post-list__body">
          <div class="post-list__date">17.09.2022</div>
          <div class="post-list__content">
              <div class="post-list__left-side">
                  <h4 class="post-list__title">The greatest community site of the world.</h4>
                  <div class="post-list__author">Master of Disaster</div>
              </div>
              <a class="post-list__right-side link-anim">Read more...</a>
          </div>
          <div class="post-list__tags">
              <a href="#" class="tag">Tag1</a>
              <a href="#" class="tag">Linux</a>
              <a href="#" class="tag">Machine Learning</a>
              
          </div>
      </div>
  </div>

  <div class="pagination">
          <!-- {% if page_obj.has_previous %} -->
          <a href="#" class="pagination__previous-button pagination-button">&larr;</a>
          <a href="#" class="pagination__first-page pagination-button">1</a>
          <!-- {% endif %} -->
  
          <a href="#" class="pagination__previous-page pagination-button">3</a>
          <a href="#" class="pagination__current-page pagination-button">4</a>
          <a href="#" class="pagination__next-page pagination-button">5</a>
  
          <!-- {% if page_obj.has_next %} -->
          <a href="#" class="pagination__last-page pagination-button">44</a>
          <a href="#" class="pagination__next-button pagination-button">&rarr;</a>
          <!-- {% endif %} -->
  </div>
</section>

