<section class="resources" id="resources">
  <div class="resources__categories">
      <a href="#" class="resources__category first-category">All</a>
      <a href="#" class="resources__category">Frontend</a>
      <a href="#" class="resources__category">Backend</a>
      <a href="#" class="resources__category">Machine Learning</a>
      <a href="#" class="resources__category">Embeded</a>
      <a href="#" class="resources__category">Data Science</a>
      <a href="#" class="resources__category">Mobile</a>
      <a href="#" class="resources__category">Blockchain</a>
      <a href="#" class="resources__category">Teletubisie</a>

  </div>

  <div class="resources__grid">

      <div class="resource">
          <div class="resource__flip-box-front">
              <div class="resource__publish-date">17.09.2022</div>
              <h4 class="resource__title">Super resource that makes Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quod.life easier</h4>
              <p class="resource__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui a est quas voluptates maiores ea non corrupti quod delectus asperiores!
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At deleniti consequatur cumque ut culpa ad nulla labore porro fugiat quia! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo asperiores odio architecto vero harum necessitatibus nesciunt quidem, ad fuga? Magnam!
              </p>
          </div>
          <div class="resource__flip-box-back"><!-- miejsce na 3 linki z max 4 linijkowym opisem linku-->
              <div class="resource__links"> 
                  <p class="resource__link-description">Lorem ipsum dolor Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex eveniet, eos alias quae sint nulla ratione eaque velit itaque odio modi rem obcaecati expedita ad. Ducimus illum possimus molestias dolorum!sit Lorem ipsum dolor sit amet. amet consectetur, adipisicing elit. Cum, vel!</p>
                  <a href="#" class="resource__link link-anim" target="_blank" rel="noopener noreferrer">Zobacz..</a>
              </div>
              <div class="resource__links">
                  <p class="resource__link-description">Lorem ipsum dolor  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam similique veniam esse! Delectus, porro quas? Molestias tempora ea dolorem assumenda! amet consectetur, adipisicing elit.</p>
                  <a href="#" class="resource__link link-anim" target="_blank" rel="noopener noreferrer">Zobacz..</a>
              </div>
              <div class="resource__links">
                  <p class="resource__link-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, vel! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, excepturi.</p>
                  <a href="#" class="resource__link link-anim" target="_blank" rel="noopener noreferrer">Zobacz..</a>
              </div>
          </div>
      </div>

      <div class="resource">
          <div class="resource__flip-box-front">
              <div class="resource__publish-date">17.09.2022</div>
              <h4 class="resource__title">Super resource that makes Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quod.life easier</h4>
              <p class="resource__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui a est quas voluptates maiores ea non corrupti quod delectus asperiores!
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At deleniti consequatur cumque ut culpa ad nulla labore porro fugiat quia! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo asperiores odio architecto vero harum necessitatibus nesciunt quidem, ad fuga? Magnam!
              </p>
          </div>
          <div class="resource__flip-box-back">
              <div class="resource__links">
                  <p class="resource__link-description">Lorem ipsum dolor Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex eveniet, eos alias quae sint nulla ratione eaque velit itaque odio modi rem obcaecati expedita ad. Ducimus illum possimus molestias dolorum!sit Lorem ipsum dolor sit amet. amet consectetur, adipisicing elit. Cum, vel!</p>
                  <a href="#" class="resource__link link-anim" target="_blank" rel="noopener noreferrer">Zobacz..</a>
              </div>
              <div class="resource__links">
                  <p class="resource__link-description">Lorem ipsum dolor  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam similique veniam esse! Delectus, porro quas? Molestias tempora ea dolorem assumenda! amet consectetur, adipisicing elit.</p>
                  <a href="#" class="resource__link link-anim" target="_blank" rel="noopener noreferrer">Zobacz..</a>
              </div>
              <div class="resource__links">
                  <p class="resource__link-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, vel! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, excepturi.</p>
                  <a href="#" class="resource__link link-anim" target="_blank" rel="noopener noreferrer">Zobacz..</a>
              </div>
          </div>
      </div>

  </div>

  <div class="pagination">
      <!-- {% if page_obj.has_previous %} -->
      <a href="#" class="pagination__previous-button pagination-button">&larr;</a>
      <a href="#" class="pagination__first-page pagination-button">1</a>
      <!-- {% endif %} -->

      <a href="#" class="pagination__previous-page pagination-button">3</a>
      <a href="#" class="pagination__current-page pagination-button">4</a>
      <a href="#" class="pagination__next-page pagination-button">5</a>

      <!-- {% if page_obj.has_next %} -->
      <a href="#" class="pagination__last-page pagination-button">44</a>
      <a href="#" class="pagination__next-button pagination-button">&rarr;</a>
      <!-- {% endif %} -->
  </div>
</section>